body {
  min-height: 50px;
  padding: 8px;
  margin: 5px;
  font: 15px arial, sans-serif;
  line-height: 30px;
  background-color: rgba(201, 206, 207, 0.753);
}

.box {
  margin-top: 40px; 
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px 20px 20px; 
  background-color: white; 
 }

 .navbar-latitude{
  background-color: rgb(82, 163, 156);
  font: 30px arial, sans-serif;
  color:white;
 }

 .header1-style{
  font: 15px arial, sans-serif;
  color: rgb(82, 163, 156);
 }

 .header2-style{
  font: 5px arial, sans-serif;
  color: rgb(82, 163, 156);
 }

 .text-style{
  color: rgb(108, 116, 115);
}
  .image{
  
  margin: 20px 20px 5px 0px;
}

.visualization-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300;
}

.visualization-img-small{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100;
}

.table-scroll {
  display: block;
  max-height: 200px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  }