/* Add your styles here */
.navbar {
	padding: 10px;
	background: #5191fd;
}

.navbar ul li {
	background: #f1f1f1;
	padding: 20px;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: : 3px;
	cursor: pointer;
	display: inline-block;
}

.container {
	background: #f1f1f1; 
}

.header{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	padding: 60px;
	background: #cdcdcd;
	font-family: arial;
}

.posts{
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 100px;
}

.post{
	padding: 20px;
}

h3 {
	font-size: 30px;
	padding-bottom: 10px;
}